/* General styles */
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Open-Dyslexic';
	/* When we upload this at the server, it's necessary to change the domain 'http://localhost:3000' */
	src: url('http://localhost:3000/fonts/OpenDyslexic-Regular.otf') format('opentype');
}

/* Main container */
.contenedor {
	width: 60%;
	height: auto;
	margin-top: 4rem;
	font-family: 'Open-Dyslexic', sans-serif;
	overflow: hidden;
}

/* Accessiibility options */

/* Button to change the font of the activity text */
.bi.bi-file-font-fill {
	width: 2vw;
}

.btn.btn-outline-dark {
	font-size: 2vw;
	padding: 1%;
}

/* Font size and line spacing controls */
span {
	font-size: 2vw;
}

div .font-controls {
	padding: 2%;
}

svg {
	display: inline;
	font-size: 2vw;
}

.btn.btn-outline-dark.line-spacing {
	padding: 1%;
}

/* Accessibility options */
#accessibilityButton {
	font-size: 2vw;
}

/* Activity instruction */
.instruccion {
	display: grid;
	grid-template-columns: 10% 90%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#icono-bocina {
	width: 90%;
}

#texto {
	color: black;
	font-size: 2vw;
	line-height: 1;
}

/* Activity image */
.contenedorImagen {
	display: flex;
	justify-content: center;
	align-items: center;
}

#imagen1 {
	width: 15%;
	margin-bottom: 2rem;
	cursor: pointer;
}

/* Distribution of answer options and numbering containers */

.opciones-respuesta {
	display: grid;
	grid-template-columns: repeat(4, 1fr); /* 4 columns */
	grid-gap: 20px; /* Space between elements */
	justify-items: center;
}

/* Centering images */
.opciones-respuesta div {
	text-align: center;
}

/* Media query for smaller screens */
@media (max-width: 500px) {
	.opciones-respuesta {
		grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
	}

	/* Give correct order to the response images and their numbering containers */
	#opcion1 {
		order: 5;
	}

	#opcion2 {
		order: 2;
	}

	#opcion3 {
		order: 1;
	}

	#opcion4 {
		order: 6;
	}

	#contenedorNumeracionOpcion1 {
		order: 7;
	}

	#contenedorNumeracionOpcion2 {
		order: 4;
	}

	#contenedorNumeracionOpcion3 {
		order: 3;
	}

	#contenedorNumeracionOpcion4 {
		order: 8;
	}
}

.opciones img {
	width: 30%;
	height: auto;
	cursor: pointer;
}

/* Styles for numbering containers */
.contenedorNumeracion {
	background-color: #57ebbe;
	margin: 5%;
	border-radius: 100%;
	border: 2px solid rgb(34, 102, 68);
	width: 45%;
	/* Ajusta el ancho y alto según tus necesidades */
	height: auto;
	/* Ajusta el tamaño del número */
	font-weight: bold;
	/* Opcional: ajusta el peso de la fuente */
	color: #302f2f;
	/* Opcional: ajusta el color del número */
}

.contenedorNumeracion p {
	margin: 20%;
	font-size: 2vw;
}

/* Continue button */
#continuar {
	display: none;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

#btn-continuar {
	width: 30%;
	background-color: #16be2c;
	border-radius: 8px;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 2vw;
	padding: 0.5rem 0rem;
	text-decoration: none;
	font-family: "Open-Dyslexic", sans-serif;
	text-align: center;
	margin-bottom: 1rem;
}

#btn-continuar:hover {
	background-color: #0d791b;
}