.options {
    margin-top: 5%;
}

.card {
    width: 80%;
}

.container-module-description {
    display: grid;
    grid-template-columns: 20% 80%;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.textoEsmeralda {
    font-size: 130%;
}


.img-logo {
    width: 60%;
}