/* .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2%;
} */

body {
    background-color: rgb(226, 253, 236);
}

h4 {
    line-height: 2.5rem;
    font-size: 2vw;
}

.logo {
    width: 15%;
    height: auto;
}

.module-img {
    width: 99%;
    margin-bottom: 0.5rem;
}

.module-container {
    align-items: center;
}

@font-face {
    font-family: 'Open-Dyslexic';
    /* When we upload this at the server, it's necessary to change the domain 'http://localhost:3000' */
    src: url('http://localhost:3000/fonts/OpenDyslexic-Regular.otf') format('opentype');
}

.texto {
    font-family: 'sans-serif';
    padding-top: 1%;
    font-size: 3vw;
    color: black;
}

.navbar {
    background-color: #95ebd1;
}

.title {
    margin-top: 5%;
    font-family: 'sans-serif';
    color: #085e44;
}

.app-description {
    margin-top: 10%;
}