.options {
    margin-top: 5%;
}

.card {
    width: 80%;
}

.container-module-description {
    display: grid;
    grid-template-columns: 20% 80%;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.textoEsmeralda {
    text-align: justify;
    font-size: 1.5vw; /* Tamaño de fuente relativo al ancho del viewport */
}


.img-logo {
    width: 60%;
}

.textoVideo {
    margin-left: 5%;
    font-size: 1.5vw;
    text-align: center;
}

.video1 {
    display: flex;
    justify-content: center;
    align-items: center;
}