.iframe-container {
    margin: 0;
    padding: 0;
    width: 100%; /* Takes up the entire width of the screen */
    height: 100vh; /* Takes up the entire height of the screen */
    overflow: hidden; /* Hide scroll bars if the content is larger */
}

iframe {
    width: 100%;
    height: 100%;
    border: none; /* Removes the default iframe border, if any */
}