.footer {
    background-color: #95ebd1;
    margin-top: 5%;
    padding: 3%;
}

.imagenLogo {
    width: 50%;
    height: auto;
}

.imagenGAIA {
    margin-top: 5%;
    width: 80%;
    height: auto;
}

@font-face {
	font-family: 'Open-Dyslexic';
	/* When we upload this at the server, it's necessary to change the domain 'http://localhost:3000' */
	src: url('https://gaia.manizales.unal.edu.co/PiedrasPreciosasPrototipo/fonts/OpenDyslexic-Regular.otf') format('opentype');
}

.nameTeam {
    font-family: 'arial';
    font-size: 200%;
}
