.options {
    margin-top: 5%;
}

.card {
    width: 80%;
}

.container-module-description {
    display: grid;
    grid-template-columns: 20% 80%;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.textoEsmeralda {
    text-align: justify;
    font-size: 110%;
    /* Tamaño de fuente relativo al ancho del viewport */
}


.img-logo {
    width: 60%;
}



#pregunta {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    background-color: rgb(226, 253, 236);

}


.videoContainer {
    position: relative;
    padding-top: 30%;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 30%;
    /* Establece la relación de aspecto (16:9) */
    width: 80%;
    /* Establece el ancho máximo del contenedor de video */
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    /* Centra horizontalmente el contenedor de video */
}

.videoContainer p {
    text-align: center;
}


.video {
    position: absolute;
    top: 0;
    left: 20%;
    right: 0;
    /* Establece el margen derecho a 0 para centrar horizontalmente el video */
    bottom: 0;
    /* Establece el margen inferior a 0 para centrar verticalmente el video */
    width: 60%;
    height: 60%;
}

.botonReferencias {
    border: none;
    cursor: pointer;
    margin-top: -10;
}